
.splash-body{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow:hidden;
    font-size: 52px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    
}
.splash-title-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    font-family: "caveat";
    font-size: 62px;
}

.splash-beta{
    width:0px;
    visibility: hidden;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    
}
.splash-kappa {
    margin-left:-355px;
    visibility: hidden;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

#background-video{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: -1;
}

.enter-button{
    position: absolute;
    font-size: 26px;
    margin-top: 15vh;
    margin-left: -10vw;
    visibility: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    background-color: black;
    /* border: solid 1px gray; */
    /* box-shadow: 1px 1px 2px 1px white; */
    border-radius: 4px;
    padding: 10px 20px;
}

.enter-button :hover{
    background-color: gray !important;
    color: black;
}

