.nav-bar-body{
    height: 10vh;
    border-bottom: solid .5px rgb(184, 183, 183);
    /* padding-top: 1.5vh; */
}

 .nav-bar-body a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;  
 }
 .row{
    height: 10vh;
    
 }
.row :hover{
    display: flex;
    background-color: rgb(184, 183, 183);
    color: white;
    height: 10vh;
    align-items: center;
    justify-content: center;
    
}

.row :hover :first-child {
    color: white;
    
}