.nav-bar-body{
    height: 7vh;
}

 .nav-bar-body a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;  
 }
 .row{
    height: 7vh;
    
 }
/* .row :hover{
    display: flex;
    background-color: gray;
    color: black;
    height: 7vh;
    align-items: center;
    justify-content: center;
} */
.row :hover :first-child {
    color: black;
    
    
}
.col :hover{
    border-bottom:3px solid #2f6f4d;
    border-top:3px solid #2f6f4d;
    padding-bottom: 7px;
    padding-top: 7px;
}
