.nav-bar-body{
    height: 10vh;
    margin-top: 2vh;
}

.nav-bar-ul{
    display:flex;
    justify-content: space-around;
}

.nav-bar-ul li{
    list-style: none;
}
 .nav-bar-ul a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, cursive;
    
 }
 .nav-bar-ul li :hover{
    color: black;
    transition: 0.7s ease;
    font-family: 'Satisfy', cursive;
    
 }
