.quote-body{
    display:flex;
    justify-content: center;
}

.quote-container{
    text-align: center;
    color: gray;
    padding: 3.2%;
    border-radius: 15px;
    height: 30vh;
    width: 100%;
    
}
.quote-attr{
    font-family: 'Caveat', cursive;
    position:relative;
    margin-right: 0;
}
.quote-text{
    font-size: 36px;
}
.quote-fr{
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    
    
}
.quote-en{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2f6f4d;
    font-weight: 200;
    
}