.quote-body{
    display:flex;
    justify-content: center;
}

.quote-container{
    text-align: center;
    color: gray;
    padding: 3.2% 3.2% 0 3.2%;
    border-radius: 15px;
    height: 26vh;
    width: 100%;
}

.quote-attr{
    font-family: 'Caveat', cursive;
    position:relative;
    margin-right: 0;
}

.quote-text{
    font-size: 36px;
}

.quote-fr{
    font-family: 'Satisfy', cursive;
    font-size: 36px;
}

.quote-en{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2f6f4d;
    font-weight: 200;
    
}

.portraits{
    width: 14vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 10px 10px black;
    
}
.bw-pic{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}


