#icons{
    width: 67vw;
}

.icon-img{
    padding-bottom: 1em;
    
}
.certs-cont{
    height: 10em;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 6em;
}
#cert1{
    height: 8em;
}
#cert2{
    width: 10em;
}
.cert-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
}

.img-box{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    
}