.sec-hds{
    display: flex;
    justify-content: center;
    margin: 1.1em;
}

.sec-text{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.app-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
}
